.drum-machine {
  position: relative;

  .top-panel {
    display: flex;
    align-items: flex-end;
  }
}

.drum-machine__Tracks {
  max-width: 100%;
}

.drum-machine__Track {
  max-width: 100%;
  padding: 10px;
  margin: 10px auto;
  background-color: #999;
  border-radius: 5px;
}

.drum-machine__TrackLabel {
  flex: 0 0 1;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Righteous', monospace;
  font-size: 18px;
}

.drum-machine__TrackSteps {
  width: 100%;
  max-width: 100%;
  display: flex;
}


.drum-machine__Step {
  margin: 1px;
  border: 2px solid #AAAAAA;
  height: 20px;
  border-radius: 10px;
  flex: 1 0;
  background: #555555;
  transition: border-color 950ms ease-out;
  transition: background-color 400ms ease-out;
}


@media (min-width: 600px) {
.drum-machine__Step {
    height: 50px;
    margin: 2px;
  }

  .drum-machine {
    min-height: 600px;
  }
}

.drum-machine__Step--On {
  background: #9999EE;
  border: 2px solid #BBBBBB;
  transition: background-color 500ms ease-out;
}

.drum-machine__Step--Active {
  border: 2px solid #DDAAAA;
  background: #777777
}

.drum-machine__Step--Active.drum-machine__Step--On {
  background: yellow;
  transition: background-color 10ms !important;
}

@-webkit-keyframes throb {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(1.1);}
}

@keyframes throb {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
}
