.drum-machine {
  position: relative;

  .top-panel {
     & > * {
       margin-right: .5rem;
     }

      display: flex;
      padding: .5rem 0;
      align-items: flex-end;
  }
}

.drum-machine__TrackSteps {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.drum-machine__Step {
  margin: 1px;
  border: 1px solid #AAAAAA;
  height: 20px;
  border-radius: 10px;
  flex: 1 0;
  background: #778ca3;
  transition: border-color 950ms ease-out;
  transition: background-color 400ms ease-out;
}

@media (min-width: 600px) {
.drum-machine__Step {
    height: 50px;
    margin: 2px;
  }

  .drum-machine {
    min-height: 600px;
  }
}

.drum-machine__Step--On {
  background: #45aaf2;
  border: 1px solid #BBBBBB;
  transition: background-color 500ms ease-out;
}

.drum-machine__Step--Active {
  border: 1px solid #eb3b5a;
  background: #a5b1c2
}

.drum-machine__Step--Active.drum-machine__Step--On {
  background: #fed330;
  transition: background-color 10ms !important;
}

@-webkit-keyframes throb {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(1.1);}
}

@keyframes throb {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
}

.track-component {
  .title {
    text-transform: capitalize;
  }
}